<div class="modal-dialog">
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="padding-top: 24px;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h1 class="h5">ダウンロード条件の設定</h1>

          <%= form_with url: 'do_export_counts', method: :get, local: true do |form| %>

            <div class="mb-3"></div>

            <h6>アーティスト</h6>

            <%= form.select :artist, Artist.select_list %>

            <div class="mb-3"></div>

            <h6>集計対象</h6>

            <%= form.check_box :flag, { checked: false }, true, false %> 集計対象外の動画を含める　

            <div class="mb-3"></div>

            <h6>期間</h6>

            <div class="input-group" data-target-input="nearest">
              <%= form.text_field :start_date, class: "form-control datepicker", data: { target: '#start_date'}, placeholder: '集計開始日' %>
              <div class="input-group-append" data-target="#start_date" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>

            <script type="text/javascript">
                $(function () {
                    $('#start_date').datetimepicker({
                        format: 'L'
                    });
                });
            </script>

            <div class="mb-1"></div>

            <div class="input-group" data-target-input="nearest">
              <%= form.text_field :end_date, class: "form-control datepicker", data: { target: '#end_date'}, placeholder: '集計終了日' %>
              <div class="input-group-append" data-target="#end_date" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>

            <script type="text/javascript">
                $(function () {
                    $('#end_date').datetimepicker({
                        format: 'L'
                    });
                });
            </script>

            <div class="mb-3"></div>

            <button class="btn btn-primary btn-sm" type="submit">エクスポート</button>

            <div class="mb-3"></div>
          <% end %>
        </main>
      </div>
      </div>
  </div>
</div>
