<h1 class="h2">再生数履歴</h1>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th class="nowrap">アーティスト</th>
      <th class="nowrap">サムネイル</th>
      <th class="nowrap">タイトル</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="nowrap"><%= @movie.artist.name %></td>
        <td class="nowrap"><%= thumb(@movie.thumb_url) %></td>
        <td><%= link_to @movie.title, "https://www.youtube.com/watch?v=#{@movie.youtube_id}", target: '_blank' %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th class="nowrap">更新日</th>
      <th class="nowrap">再生数</th>
      <th class="nowrap">前回からの増加分</th>
    </tr>
    </thead>
    <tbody>
    <% @views.each_with_index do |view, i| %>
      <tr>
        <td class="nowrap"><%= view.update_date.strftime('%Y年%m月%d日') %></td>
        <td class="nowrap"><%= view.count %></td>
        <td class="nowrap"><%= @diff_list.reverse[i] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @views %>
</div>

<% unless @views.blank? %>
<canvas id="myChart"></canvas>

<script type="text/javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%= @date_list.to_json.html_safe %>,
            datasets: [{
                label: '再生数',
                type: "line",
                fill: false,
                data: <%= @sum_list.to_json %>,
                borderColor: "gray",
                backgroundColor: "gray",
                yAxisID: "sum"
            }, {
                label: '前回からの増加分',
                data: <%= @diff_list.to_json %>,
                borderColor: "rgba(15, 15, 15, 0.2)",
                backgroundColor: "rgba(15, 15, 15, 0.2)",
                yAxisID: "diff"
            }]
        },
        options: {
            tooltips: {
                mode: 'nearest',
                intersect: false
            },
            responsive: true,
            scales: {
                yAxes: [{
                    id: "sum",
                    type: "linear",
                    position: "left"
                }, {
                    id: "diff",
                    type: "linear",
                    position: "right",
                    gridLines: {
                        drawOnChartArea: false
                    }
                }]
            }
        }
    });
</script>
<% end %>
