<h1 class="h2">動画一覧</h1>

<%= link_to '再生数履歴をエクスポート', '/export_counts', remote: true, class: 'btn btn-primary btn-sm' %>
<%= link_to '手動で再生数更新', '/update_counts', class: 'btn btn-secondary btn-sm', method: :post %>

<div class="mb-3"></div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>アーティスト</th>
      <th>サムネイル</th>
      <th>タイトル</th>
      <th>集計対象</th>
      <th>総再生数</th>
      <th>更新日</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.artist.name %></td>
        <td><%= thumb(movie.thumb_url) %></td>
        <td><%= link_to movie.title, "https://www.youtube.com/watch?v=#{movie.youtube_id}", target: '_blank' %></td>
        <td><%= movie_flag_text(movie.flag) %></td>
        <%= latest_view_count(movie) %>
        <td>
          <%= link_to '再生数履歴', "/artists/#{movie.artist.id}/movies/#{movie.id}/views", class: 'btn btn-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @movies %>
</div>

<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>