<h1 class="h2"><%= @artist.name %>の動画一覧</h1>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>サムネイル</th>
      <th>タイトル</th>
      <th>集計対象</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= thumb(movie.thumb_url) %></td>
        <td><%= link_to movie.title, "https://www.youtube.com/watch?v=#{movie.youtube_id}", target: '_blank' %></td>
        <td><%= movie_flag_text(movie.flag) %></td>
        <td>
          <%= link_to update_movie_flag_text(movie.flag), update_movie_flag_path(movie), class: 'btn btn-secondary btn-sm', method: :post %>
          <%= link_to '削除', "/artists/#{@artist.id}/movies/#{movie.id}/destroy", class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "本当に#{movie.title}を削除しますか？" } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @movies %>
</div>

<h5>新規動画登録</h5>

<%= form_with model: @new_movie, url: "/artists/#{@artist.id}/movies" do |form| %>
  <div class="field">
    <%= form.text_field :youtube_id, class: 'form-control', placeholder: 'Youtubeの動画ID', required: true%>
  </div>
  <div class="checkbox mb-3">
    <label>
    </label>
  </div>
  <button class="btn btn-primary btn-sm" type="submit">登録</button>
<% end %>
